**/xcuserdata
.DS_Store
.*.swp
dydx/fastlane
dydx/Pods/abacus/.gradle
dydx/Pods/abacus/build
dydxV4/dydxV4/_Configurations/credentials.json
dydxV4/dydxV4/_Configurations/GoogleService-Info-Staging.plist
dydxV4/dydxV4/_Configurations/GoogleService-Info.plist
scripts/secrets